<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="icon" type="image/x-icon" href="assets/images/favicon.png">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../public/css/custom.css" />

    <title>Employee Details</title>
</head>

<body>
    <nav class="navbar navbar-light bg-info">
        <a class="navbar-brand font-weight-bold text-white" href="#">
            <img src="/public/img/nodejs.png" width="30" height="30" class="d-inline-block align-top" alt="">
            All Employee Details <%= empdata2%>
        </a>
    </nav>
    <div class="container">
        <div class="my-3 body_css">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>Gender</th>
                        <th>Email</th>
                        <th>Edit</th>
                        <th>Delete</th>


                    </tr>
                </thead>
                <tbody>
                    <% if(empdata.length!=0){ var i=1; empdata.forEach(function(data){ %>
                        <tr>
                            <th>
                                <%=i; %>
                            </th>
                            <th>
                                <%=data.firstname %>
                            </th>
                            <th>
                                <%=data.lastname %>
                            </th>
                            <th>
                                <%=data.gender %>
                            </th>
                            <th>
                                <%=data.email %>


                            </th>
                            <th><a role="button" href="/employee/edit/<%=data.id%>"
                                    class="btn btn-outline-success">Edit</a></th>
                            <th><a role="button" href="/employee/delete/<%=data.id%>"
                                    class="btn btn-outline-danger">Delete</a></th>
                        </tr>
                        <% i++; }) %>
                            <% } else{ %>
                                <tr>
                                    <td colspan="7">No Data Found</td>
                                </tr>
                                <% } %>

                </tbody>
            </table>


        </div>
    </div>

</body>

</html>